/*>>>>>>>>>>>> ALL PAGES<<<<<<<<<<<<<< */
.display-page-wrapper {
  min-height: calc(100vh + 205px);
}

.display-page-container {
  min-height: calc(100vh);
}

.iframe {
  width: 100%;
  min-height: 100vh;
}


.page-wrapper {
  text-align: center;
}

.page-container {
  font-size: calc(10px + 2.5vmin);
  height: 100%;
}

.page-content {
  /* overflow: scroll; */
  height: 100%;
}

.max-height {
  display: flex;
  flex-direction: column;
  height: 100vh;  
}

/*>>>>>>>>>>>> CANVAS <<<<<<<<<<<<<< */
.inputOutput>* {
  width: 75px;
}

label {
  display: inline-block;
  text-align: center;
}

/*>>>>>>>>>>>> CANVAS_DOS <<<<<<<<<<<<<< */
img {
  margin: 0;
  border: 0;
  width: 50%;
  margin-top: .25em;
  overflow: scroll;
}

.canvasDOS {
  display: flex;
  flex-direction: column;
  align-items: center;
 width: 100%;
  
}

/*>>>>>>>>>>>> HOME <<<<<<<<<<<<<< */
.home-logo-content {
  width: 50%;
  height: auto;
  margin: auto;
}

.home-logo, .soccer-logo {
  pointer-events: none;
  border-radius: 50%; 
  margin: auto; 
}

/*>>>>>>>>>>>> SOCCER <<<<<<<<<<<<<< */
.soccer-logo {
  scale: 1;
  transform: rotate(-270deg); 
}


/*>>>>>>>>>>>> MEDIA <<<<<<<<<<<<<< */
@media (prefers-reduced-motion: no-preference) {
  .home-logo {
    animation: home-logo-spin infinite 3s linear;
  }
}

@keyframes home-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.no-scroll {
  overflow: hidden;
}