#navbar-wrapper {
  background-color: var(--crimson-color);
  color: var(--cream-color);
  padding-bottom: .25em;
}

#navbar-container {}

#navbar-container div {
  display: inline-block;  
}

#menu {}

.waltrevino-logo-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#nav-logo {
 font-family: 'Roboto', sans-serif;
 font-size: 1.2em;
}

#search-bar {
  position: absolute;
  top: .7em;
  right: 5%;
}