#navbar-wrapper {
  background-color: var(--crimson-color);
  color: var(--cream-color);
  
}

#navbar-container {
  /* border: solid red 5px; */
 
}

#navbar-container div {
  /* border: solid red 1px; */
  display: inline-block;
  
}

.waltrevino-logo-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  

}

#nav-logo {
 font-family: 'Roboto', sans-serif;
 
}

#search-bar {
  position: absolute;
  right: 2%;
}