.wrapper {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;

 
}

.container {
  display: flex;
  white-space: nowrap;
  overflow: auto;
  height: 100%;
}

.container::-webkit-scrollbar {
  display: none 
 }

.container > .tab {
  /* width: 100px;
  background-color: grey; */
  padding-left: 1em;
  padding-right: 1em;

}

.tab1 {
  background-color: lightgray;
}