body {
  animation: fadeInPage ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* height: 100%;
  flex-direction: column;
  display: flex; */
}

p {
  padding-top: 40px;
  z-index: 10;
}

a {
  text-decoration: none;
}

#root {

}
.app-wrapper {
  /* border: solid rgb(132,23,25) 8px; */
  height: 100%;
}

.app-container {
 
  width: 100%;

  
}

.app-container div {
  /* border: solid yellow 1px; */
  /* display: flex; */
  
}

.home-logo {
  height: 70vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .home-logo {
    animation: home-logo-spin infinite 5s linear;
  }
}

#home-wrapper {
  text-align: center;
  /* border: solid red 5px; */
  display: flex;
  flex-direction: column;
  background-color: black;
}

#home-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.5vmin);
  color: white;
}

#home-container a {
  color: red;
}

@keyframes home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.border-red {
  /* border: solid red 1px; */
}





@tailwind base;
@tailwind components;
@tailwind utilities;