:root {
  --crimson-color: rgb(132, 23, 25);
  --cream-color: rgb(253, 249, 216);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* APP WRAPPER */
html {
  border: red 1px solid;  
}

/* APP CONTAINER */
body {
  border: solid green 1px;
  animation: fadeInPage ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  min-height: 100vh;
}

/* APP CONTENT */
#root {
  border: solid blue 1px;
  min-height: 100vh;  
}

.app-wrapper {}

.app-container {
  background-color: grey;
  width: 100%;
  position: relative;
}

.app-content {
  min-height: calc(100vh);
  position: relative;
}

/* APP PUBLIC */
.rojo {
  border: solid red 1px;
}

.verde {
  border: solid green 1px;
}

.azul {
  border: solid blue 1px;
}

@keyframes fadeInPage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */